*.html linguist-vendored
*.cmake linguist-vendored
*.swift linguist-vendored
*.c linguist-vendored
*.cpp linguist-vendored
*.hpp linguist-vendored
*.h linguist-vendored
*.cmake linguist-vendored
CMakeLists.txt linguist-vendored
*.cc linguist-vendored
*.hh linguist-vendored
*.cxx linguist-vendored
*.hxx linguist-vendored
*.kt linguist-vendored
*.kts linguist-vendored

